table {
  background: #ccc;
}

.hidden {
  display: none;
}

td {
  padding: 0;
  width: 15px;
  height: 15px;
  background: #2d2d2d;
}

.I {
  background: cyan;
}
.I.G {
  background: white;
}

.J {
  background: blue;
}
.J.G {
  background: white;
}

.L {
  background: orange;
}
.L.G {
  background: white;
}

.O {
  background: yellow;
}
.O.G {
  background: white;
}

.S {
  background: green;
}
.S.G {
  background: white;
}

.T {
  background: purple;
}
.T.G {
  background: white;
}

.Z {
  background: red;
}
.Z.G {
  background: white;
}